<a href="https://colab.research.google.com/github/KazumaShachou/Python_learning/blob/main/Intermediate_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dic = {'name':'kazuma', 'age':30, 'city': 'tokyo'}
print(dic)

{'name': 'kazuma', 'age': 30, 'city': 'tokyo'}

In [ ]:
dic2 = {'name':'pekora', 'age': 111, 'city': 'sapporo'}
print(dic2)

value = dic2['name']
print(value)

{'name': 'pekora', 'age': 111, 'city': 'sapporo'}
pekora

In [ ]:
  dic['email'] = 'kakakakak@gmail.com'
  print(dic)

{'name': 'kazuma', 'age': 30, 'city': 'tokyo', 'email': 'kakakakak@gmail.com'}

In [ ]:
del dic2['city']
print(dic2)

{'name': 'pekora', 'age': 111}

In [ ]:
if 'name' in dic:
  print(dic['name'])

kazuma

In [ ]:
try:
  print(dic['name'])
except:
  print('error')

kazuma

In [ ]:
try:
  print(dic['lastname'])
except:
  print('error')

error

In [ ]:
for key in dic.keys():
  print(key)

name
age
city
email

In [ ]:
for value in dic.values():
  print(value)

kazuma
30
tokyo
kakakakak@gmail.com

In [ ]:
for key, value in dic.items():
  print(key, value)

name kazuma
age 30
city tokyo
email kakakakak@gmail.com

In [ ]:
#sets - unordered, mutable and no duplicates

myset = {2, 3, 4}
print(myset)

{2, 3, 4}

In [ ]:
myset = {2, 3, 4, 2, 3}
print(myset)

{2, 3, 4}

In [ ]:
myset2 = set('Hello')
print(myset2)

{'H', 'o', 'e', 'l'}

In [ ]:
myset3 = set()

myset3.add(1)
myset3.add(2)
myset3.add(3)

myset3.remove(3)  #can use discard too fin the place of remove

print(myset3)

{1, 2}

In [ ]:
for i in myset3:
  print(i)

1
2

In [ ]:
ex1 = {1, 3, 5, 7, 9}
ex2 = {2, 4, 6, 8, 0}
ex3 = {1, 3, 11, 6, 14, 12, 5}

u = ex1.union(ex3)
print(u)

{1, 3, 5, 6, 7, 9, 11, 12, 14}

In [ ]:
v = ex1.union(ex2)
print(v)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
w = ex1.intersection(ex3)
print(w)

{1, 3, 5}

In [ ]:
x = ex1.difference(ex3)
print(x)

{9, 7}

In [ ]:
y = ex1.update(ex3)
print(y)

None

In [ ]:

print(ex1.issubset(ex2))

False

In [ ]:
#strings are ordered, imutable, text representation

my_string = 'Hello world!'
print(my_string)

Hello world!

In [ ]:
char1 = my_string[0]
char2 = my_string[1]
char3 = my_string[2]
char4 = my_string[3]
char5 = my_string[4]

print(char1)
print(char2)
print(char3)
print(char4)
print(char5)

H
e
l
l
o

In [ ]:
char6 = my_string[-6]
char7 = my_string[-5]
char8 = my_string[-4]
char9 = my_string[-3]
char10 = my_string[-2]
char11 = my_string[-1]

print(char6)
print(char7)
print(char8)
print(char9)
print(char10)
print(char11)

w
o
r
l
d
!

In [ ]:
#my_string[0] = 'z'   , don't work, because string are immutable 

substring = my_string[1:4]
print(substring)

ell

In [ ]:
substring1 = my_string[::-1]
print(substring1)

!dlrow olleH

In [ ]:
greeting = 'Hello'
for i in greeting :
  print(i)

H
e
l
l
o

In [ ]:
fruits = ['banana', 'apple', 'orange']
for i in fruits:
  print(i)

banana
apple
orange

In [ ]:
game = 'league of legends'

if 'e' in game:
  print('Nice')
else:
  print('Wrong')

Nice

In [ ]:
string = 'how, are, you, doing'
my_list = string.split(',')
print(my_list)

newstring = ''.join(my_list)
print(newstring)

['how', ' are', ' you', ' doing']
how are you doing

In [ ]:
list_string = ['a'] * 10
print(list_string)

['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']

In [ ]:
#collections are counter , namedtuple, ordereddict, defaultdict, deque

from collections import Counter
a = 'aaaaaaaaabbbbbbbbccccdddddeeeeeeeeeefffffffffffffffhhhhzzzkkkpççoooooooooooooqqqttttttttt'

mycounter = Counter(a)
print(mycounter.items())
print(mycounter)
print(mycounter.keys())
print(mycounter.values())
print(mycounter.most_common(1))

dict_items([('a', 9), ('b', 8), ('c', 4), ('d', 5), ('e', 10), ('f', 15), ('h', 4), ('z', 3), ('k', 3), ('p', 1), ('ç', 2), ('o', 13), ('q', 3), ('t', 9)])
Counter({'f': 15, 'o': 13, 'e': 10, 'a': 9, 't': 9, 'b': 8, 'd': 5, 'c': 4, 'h': 4, 'z': 3, 'k': 3, 'q': 3, 'ç': 2, 'p': 1})
dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'h', 'z', 'k', 'p', 'ç', 'o', 'q', 't'])
dict_values([9, 8, 4, 5, 10, 15, 4, 3, 3, 1, 2, 13, 3, 9])
[('f', 15)]

In [ ]:
from collections import namedtuple
point = namedtuple('point','x, y')
pt = point(5, -5)

print(pt)

point(x=5, y=-5)

In [ ]:
from collections import OrderedDict
ordered_dic = OrderedDict()

ordered_dic['a'] = 5
ordered_dic['b'] = 3
ordered_dic['c'] = 2
ordered_dic['d'] = 6
ordered_dic['e'] = 9

print(ordered_dic)

OrderedDict([('a', 5), ('b', 3), ('c', 2), ('d', 6), ('e', 9)])

In [ ]:
#itertools are product, permutation, , combinations, cummulate, groupby, and infinite intinerators

from itertools import product
a = [2,5]
b = [3]
prod = product(a, b, repeat = 2)

print(list(prod))

[(2, 3, 2, 3), (2, 3, 5, 3), (5, 3, 2, 3), (5, 3, 5, 3)]

In [ ]:
from itertools import permutations
a = [2,5,6]
perm = permutations(a)

print(list(perm))

[(2, 5, 6), (2, 6, 5), (5, 2, 6), (5, 6, 2), (6, 2, 5), (6, 5, 2)]

In [ ]:
from itertools import combinations
a = [1, 2, 3 , 4, 5]
comb = combinations(a, 3)

print(list(comb))

[(1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 3, 4), (1, 3, 5), (1, 4, 5), (2, 3, 4), (2, 3, 5), (2, 4, 5), (3, 4, 5)]

In [ ]:
from itertools import combinations
a = [1, 2, 3 , 4, 5]
comb = combinations(a, 4)

print(list(comb))

[(1, 2, 3, 4), (1, 2, 3, 5), (1, 2, 4, 5), (1, 3, 4, 5), (2, 3, 4, 5)]

In [ ]:
from itertools import combinations
a = [1, 2, 3 , 4, 5]
comb = combinations(a, 2)

print(list(comb))

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5)]

In [ ]:
from itertools import combinations
a = [1, 2, 3 , 4, 5]
comb = combinations(a, 5)

print(list(comb))

[(1, 2, 3, 4, 5)]

In [ ]:
from itertools import accumulate
import operator
a = [1, 2, 3 , 4, 5]
acc = accumulate(a, func = operator.mul)

print(a)
print(list(acc))

[1, 2, 3, 4, 5]
[1, 2, 6, 24, 120]

In [ ]:
#lambda are expression

lam = lambda x: x + 10
print(lam(8))

18

In [3]:
funclambda = lambda x: x + 11
print(funclambda(10))



mult = lambda x,y: x * y
print(mult(3, 4))

21
12

In [8]:
points2d = [(1), (2), (3)]
print(type(points2d))

<class 'list'>

In [13]:
points2d = [(1, -1), (2, -2), (3, -3)]
print(points2d)

sort = sorted(points2d, key = lambda x: x[1])
print(sort)

[(1, -1), (2, -2), (3, -3)]
[(3, -3), (2, -2), (1, -1)]

In [20]:
a1 = [1, 2, 3, 4, 5, 6 , 7, 8, 9]
b1 = map(lambda x: x*2, a1)
print(list(b1))


#or
c1 = [x*2 for x in a1]
print(list(c1))

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
from functools import reduce
a = [1, 2, 3, 4, 5]

produt_a = reduce(lambda x, y: x*y, a)
print(produt_a)

120

In [25]:
#dunder/magic method

list1 = [1, 2, 3, 4, 5, 6]

print(list1 * 3)
print(type(list1))

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
<class 'list'>