<a href="https://colab.research.google.com/github/KazumaShachou/Python_learning/blob/main/Intermediate_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dic = {'name':'kazuma', 'age':30, 'city': 'tokyo'}
print(dic)

{'name': 'kazuma', 'age': 30, 'city': 'tokyo'}

In [ ]:
dic2 = {'name':'pekora', 'age': 111, 'city': 'sapporo'}
print(dic2)

value = dic2['name']
print(value)

{'name': 'pekora', 'age': 111, 'city': 'sapporo'}
pekora

In [ ]:
  dic['email'] = 'kakakakak@gmail.com'
  print(dic)

{'name': 'kazuma', 'age': 30, 'city': 'tokyo', 'email': 'kakakakak@gmail.com'}

In [ ]:
del dic2['city']
print(dic2)

{'name': 'pekora', 'age': 111}

In [ ]:
if 'name' in dic:
  print(dic['name'])

kazuma

In [ ]:
try:
  print(dic['name'])
except:
  print('error')

kazuma

In [ ]:
try:
  print(dic['lastname'])
except:
  print('error')

error

In [ ]:
for key in dic.keys():
  print(key)

name
age
city
email

In [ ]:
for value in dic.values():
  print(value)

kazuma
30
tokyo
kakakakak@gmail.com

In [ ]:
for key, value in dic.items():
  print(key, value)

name kazuma
age 30
city tokyo
email kakakakak@gmail.com

In [27]:
#sets - unordered, mutable and no duplicates

myset = {2, 3, 4}
print(myset)

{2, 3, 4}

In [28]:
myset = {2, 3, 4, 2, 3}
print(myset)

{2, 3, 4}

In [29]:
myset2 = set('Hello')
print(myset2)

{'H', 'o', 'e', 'l'}

In [31]:
myset3 = set()

myset3.add(1)
myset3.add(2)
myset3.add(3)

myset3.remove(3)  #can use discard too fin the place of remove

print(myset3)

{1, 2}

In [34]:
for i in myset3:
  print(i)

1
2

In [35]:
ex1 = {1, 3, 5, 7, 9}
ex2 = {2, 4, 6, 8, 0}
ex3 = {1, 3, 11, 6, 14, 12, 5}

u = ex1.union(ex3)
print(u)

{1, 3, 5, 6, 7, 9, 11, 12, 14}

In [37]:
v = ex1.union(ex2)
print(v)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
w = ex1.intersection(ex3)
print(w)

{1, 3, 5}

In [39]:
x = ex1.difference(ex3)
print(x)

{9, 7}

In [41]:
y = ex1.update(ex3)
print(y)

None

In [47]:

print(ex1.issubset(ex2))

False

In [ ]:
#strings, lambda