In [2]:
nome = input("write your name: \n") #n representa quebra de linha, new line, caractere especial, e  a barra é representa o que vem depois, caracterer especial
print(f"Seu nome é {nome}")

write your name:
rai
Seu nome é rai

In [3]:
nome = input('digite seu nome: \n')
sobrenome = input('digite seu sobrenome: \n')

print(f'{nome} {sobrenome}')

digite seu nome:
rai
digite seu sobrenome:
jr
rai jr

In [4]:
#metodo lower
texto1 = 'TEXTO'.lower()
texto2 = 'texto'.upper()

print(texto1)
print(texto2)

texto
TEXTO

In [5]:
texto3 = '             RAIMUNDO            '.strip()
print(texto3)

RAIMUNDO

In [6]:
nome = 'rai jg'
quantidade_caracteres = len(nome)
print(quantidade_caracteres)

6

In [7]:
#primeira letra do nome maiscula
nome = 'rai'.capitalize()
print(nome)

Rai

In [8]:
#usando input  , capitalize serve para deixar primeira letra do nome maiscula, strip para tirar espaços
nome = input('nome:\n').strip().capitalize()
sobrenome = input('sobrenome:\n').strip().capitalize()
print(f'{nome} {sobrenome}')

nome:
lol
sobrenome:
kkk
Lol Kkk

In [9]:
#SOMAR ,subtrair e etc
numeroa = int(input('digite um numero'))
numerob = int(input('digite outro numero'))
resultado = numeroa+ numerob
print(f' resultado de {numeroa} + {numerob} é {resultado}')

digite um numero22
digite outro numero22
 resultado de 22 + 22 é 44

In [10]:
#ou
numero1 = int(input('digite um numero :\n'))
numero2 = int(input('digite outro numero :\n'))
print(numero1 + numero2)

digite um numero :
44
digite outro numero :
23
67

In [11]:
#hora e data
import datetime

print(datetime.date.today())

2020-12-13

In [12]:
print(datetime.datetime.now())

2020-12-13 14:34:39.620665

In [13]:
horario = datetime.time(5,31,59)

print(horario.hour)
       
print(horario)

5
05:31:59

In [14]:
resposta = str(input('Escreva direita ou d para direita e esquerda ou e para esquerda'))
def salao():
  print('Você acabou de entrar em um salão que tem 2 portas a da direita e esquerda')
  print('Você irá escolher direita ou esquerda? digite direita ou d para porta direita e esquerda ou e para porta esquerda')
  if resposta == 'esquerda' or 'e' :
    print('você escolheu a porta da esquerda, infelizmente você não achou nada de mais nela, tente novamente!')
  elif resposta == 'direita' or 'd':
    print('você escolheu a porta da direita, parabéns!! seu prêmio o aguarda!')
  else :
    print('você não escolheu nenhuma das opções válidas, tente novamente!')

salao()

Escreva direita ou d para direita e esquerda ou e para esquerdad
Você acabou de entrar em um salão que tem 2 portas a da direita e esquerda
Você irá escolher direita ou esquerda? digite direita ou d para porta direita e esquerda ou e para porta esquerda
você escolheu a porta da esquerda, infelizmente você não achou nada de mais nela, tente novamente!

In [15]:
#usando "in" você dará a resposta ao usuário caso ele escreva a palavra desejada, mesmo junto com 1 frase

def jogo():
  escolha_usuario = input('você pode escolher 2 classes, futurista emedieval, digite sua escolha aqui : \n').lower()
  if escolha_usuario  in 'medieval' :
    print('você escolheu medieval, então recerá uma espada')
  elif escolha_usuario in 'futurista':
    print('você escolheu a classe futurista, receberá um sabre de luz')
  else :
    print('você digitou a palavra errada, tente novamente!')
    jogo()

jogo()

você pode escolher 2 classes, futurista emedieval, digite sua escolha aqui :
medieval
você escolheu medieval, então recerá uma espada

In [16]:
#usando def
def nomedapessoa():
  nome = input('digite seu primeiro nome\n : ').capitalize()
  print(f'seu nome é {nome}')

nomedapessoa()

digite seu primeiro nome
 : rai
seu nome é Rai

In [17]:
#paramentros estão dentro do parenteses quando eu Declaro a função -  parametros são o  a, b 
def somar(a, b):
  resultado = a + b
  print(f'o valor da soma de {a} + {b} é igual a {resultado}')

#arguments estão dentro do parenteses quando eu chamo a função  - argumentos são os  112, 230 e etc
somar(112, 230)
somar(194, 999)
somar(11, 11)

o valor da soma de 112 + 230 é igual a 342
o valor da soma de 194 + 999 é igual a 1193
o valor da soma de 11 + 11 é igual a 22

In [18]:


def sub(a,b):
  resultado = a - b 
  print(resultado)

#se eu quiser usar outro numero para subtrair
sub(20, 1)

19

In [19]:
#return pega o que a função faz e retorna tudo que há fora dela
def sub (a, b):
  resultado = a - b
  return resultado

print(sub(100, 90))

print(sub(80, sub(90,60)))

10
50

In [20]:
#usando *args

def exibirnumeros(*numeros):
  print(numeros)
  print(type(numeros))

exibirnumeros(9, 11, 18, 7 , 4, 2, 1)

(9, 11, 18, 7, 4, 2, 1)
<class 'tuple'>

In [21]:
#retorna o maior valor
def maiorvalor(*numeros):
  print(numeros)
  return max(numeros)

maiorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)

(100, 19, 95, 34, 129, 111, 84, 90, 39)

129

In [22]:
#outro jeito de fazer igual
# o * de numeros significa que TODA informação recebida, era ser transformada em tupla, ele forma multiplas tuplas
#remover esse * faz com que você receba apenas 1 tupla como argumento, e passe a imformações em variaveis (maiornumero) e não diversos argumentos que são tuplas

def maiorvalor(numeros):
  print(numeros)
  return max(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
maiornumero = maiorvalor(checarvalor)   #qualquer informação dentro do "maiorvalor" irá ser transformada em tupla

print(f'o maior valor de {checarvalor} é {maiornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o maior valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 129

In [23]:
#max so recebe 1 tupla e não varias, então tem que tomar cuidado com isso.
def maiorvalor(*numeros):
  print(numeros)
  return max(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
maiornumero = maiorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)   #qualquer informação dentro do "maiorvalor" irá ser transformada em tupla

print(f'o maior valor de {checarvalor} é {maiornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o maior valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 129

In [24]:
def menorvalor(*numeros):
  print(numeros)
  return min(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
menornumero = menorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)

print(f'o menor valor de {checarvalor} é {menornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o menor valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 19

In [25]:
# ou
def menorvalor(numeros):
  print(numeros)
  return min(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
menornumero = menorvalor(checarvalor)

print(f'o menor valor de {checarvalor} é {menornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o menor valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 19

In [26]:
#ou
def menorvalor(*numeros):
  print(numeros)
  return min(numeros)


menornumero = menorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)
print(f'o menor valor de {(100, 19, 95, 34, 129, 111, 84, 90, 39)} é {menornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o menor valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 19

In [27]:
#abs = absolute, just positive
print(abs(-6.6))

6.6

In [28]:
#round = 6.7 to 7 for example
print(round(6.6))
print(round(9.7))


#sempre irá arredondar para o numero par mais próximo para evitar perdas, uma lei da programação em alguns programas, por isso os 2 numeros seguintes darão 8
print(round(7.5))
print(round(8.5))

7
10
8
8

Exercicio : Criar uma função valor_hotel que receba parâmetro chamado diaria e retorne o custo do hotel, i diária vale 140 reais

In [29]:
def valor_hotel(diaria):
  custo_estadia = diaria * 140
  return custo_estadia

print(f'O valor total de diarias no hotel foi de R${valor_hotel(7)} Reais')

O valor total de diarias no hotel foi de R$980 Reais

In [30]:
#alguem de carro

def aluguel_carro(dias):

  valor_total = dias *40  #preço aluguel diario
  if dias >= 7 :
    valor_total -= 50
  elif dias >=2 :
    valor_hotel -= 20
  return valor_total

dias = int(input('Digite o numero de dias'))
custo = aluguel_carro(dias)

print(f'o custo total do aluguel do carro para { dias} dias será no valor de R$ {custo}')

Digite o numero de dias33
o custo total do aluguel do carro para 33 dias será no valor de R$ 1270

Listas

In [31]:
#colchetes iniciam uma lista

lista = [4, 2, 5, 6, 9, 1]

print(type(lista))

print(lista)

<class 'list'>
[4, 2, 5, 6, 9, 1]

In [32]:
primeiro_numero = lista[0]
primeiro_numero

4

In [33]:
ultimo_numero = lista[5]
ultimo_numero

1

In [34]:
  lista = [3, 8 ,11, 9, 4, 2, 0]

  print(lista[0])
  print(lista)

  #quando eu mudo o valor do primeiro item da lista de 3 para 111

  lista[0] = 111

  print(lista[0])
  print(lista)

3
[3, 8, 11, 9, 4, 2, 0]
111
[111, 8, 11, 9, 4, 2, 0]

In [35]:
lista = [111, 8, 11, 9, 4, 2, 0]

lista.append(999)

print(lista)

[111, 8, 11, 9, 4, 2, 0, 999]

In [36]:
#pego os items do indice 0 até o 3 , para fazer isso uso : para pegar o que eu quiser , mas para antes do indice anterior (9) então pega 3 primeiros itens
lista[0:3]

[111, 8, 11]

In [37]:
#pego do indice 5 em diante
lista[5:]

[2, 0, 999]

In [38]:
#pegando itens antes do indice 5
lista[:5]

[111, 8, 11, 9, 4]

In [39]:
#ultimo item da lista
lista[-1]

999

In [40]:
#pego items antes do ultimo item em diante, é muito util caso exista muitos itens na lista
lista[:-1]

[111, 8, 11, 9, 4, 2, 0]

In [41]:
#criando lista

animais = 'catdoglionbirdfrog'

cat = animais[0:3]
print(cat)

dog = animais[3:6]
print(dog)

lion = animais[6:10]
print(lion)

bird = animais[10:14]
print(bird)

frog = animais[14:]
print(frog)

cat
dog
lion
bird
frog

In [42]:
animais = ['cat', 'dog', 'lion', 'bird', 'frog']

def listadeanimais(animal):
  if animal in animais:  #procurar se um animal está ou não na lista de animais, usando in 
    info_animal = animais.index(animal)   #achar a posição do animal usando o index
    print(f'O animal {animal} está na posição {info_animal} da lista')
  else :
    print('Animal não encontrado na lista')

listadeanimais(input('Digite o nome do animal desejado \n').lower())

Digite o nome do animal desejado
cat
O animal cat está na posição 0 da lista

In [43]:
#inserir 1 numero em 1 lugar na lista

print(animais) #antes de inserir o indice

animais.insert(1, 'parrot')
print(animais) #print ja com o "parrot" inserido na lista

['cat', 'dog', 'lion', 'bird', 'frog']
['cat', 'parrot', 'dog', 'lion', 'bird', 'frog']

In [44]:
animais = ['cat', 'dog', 'lion', 'bird', 'frog']

for animal in animais:
  if animal == 'cat' or animal == 'dog':
    print(animal)

cat
dog

In [45]:
animais = ['cat', 'dog', 'lion', 'bird', 'frog']

for animal in animais:
  if animal != 'cat':
    print(animal)
  else :
    print('Nya')

Nya
dog
lion
bird
frog

In [46]:
#range
print(range(10))

for indice in range(10):  #10 objects 0 until 9
  print(indice)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [47]:
animais = ['cat', 'dog', 'lion', 'bird', 'frog']

for indice in range(len(animal)):
  animal = animais[indice]
  print(animal)
  print(indice)

cat
0
dog
1
lion
2
bird
3

In [48]:
#tuplas

tupla = (5, 9, 1, 23, 8, 4, 7)
print(tupla, type(tupla))

primeiro_elemento = tupla[0]
print(primeiro_elemento)

(5, 9, 1, 23, 8, 4, 7) <class 'tuple'>
5

In [49]:
#tupla não podem ter seus itens alterados

#tupla[0] = 99  #não funciona

In [50]:
tupla_animais = ('gato', 'cachorro', 'leão', 'macaco', 'sapo', 'jirafa', 'preguiça')

primeiro_animal, segundo_animal, terceiro_animal, quarto_animal, quinto_animal, sexto_animal, setimo_animal = tupla_animais

print(primeiro_animal)
print(quinto_animal)

gato
sapo

In [51]:
for indice, animal in enumerate(animais):
  print(indice, animal)

0 cat
1 dog
2 lion
3 bird
4 frog

In [57]:
#while break
indice = 0

while True :
  indice += 1

  if indice == 100:
    break

  print('fim do while', indice)
print('fim do codigo')

fim do while 1
fim do while 2
fim do while 3
fim do while 4
fim do while 5
fim do while 6
fim do while 7
fim do while 8
fim do while 9
fim do while 10
fim do while 11
fim do while 12
fim do while 13
fim do while 14
fim do while 15
fim do while 16
fim do while 17
fim do while 18
fim do while 19
fim do while 20
fim do while 21
fim do while 22
fim do while 23
fim do while 24
fim do while 25
fim do while 26
fim do while 27
fim do while 28
fim do while 29
fim do while 30
fim do while 31
fim do while 32
fim do while 33
fim do while 34
fim do while 35
fim do while 36
fim do while 37
fim do while 38
fim do while 39
fim do while 40
fim do while 41
fim do while 42
fim do while 43
fim do while 44
fim do while 45
fim do while 46
fim do while 47
fim do while 48
fim do while 49
fim do while 50
fim do while 51
fim do while 52
fim do while 53
fim do while 54
fim do while 55
fim do while 56
fim do while 57
fim do while 58
fim do while 59
fim do while 60
fim do while 61
fim do while 62
fim do while 63
fim do while 64
fim do while 65
fim do while 66
fim do while 67
fim do while 68
fim do while 69
fim do while 70
fim do while 71
fim do while 72
fim do while 73
fim do while 74
fim do while 75
fim do while 76
fim do while 77
fim do while 78
fim do while 79
fim do while 80
fim do while 81
fim do while 82
fim do while 83
fim do while 84
fim do while 85
fim do while 86
fim do while 87
fim do while 88
fim do while 89
fim do while 90
fim do while 91
fim do while 92
fim do while 93
fim do while 94
fim do while 95
fim do while 96
fim do while 97
fim do while 98
fim do while 99
fim do codigo

In [59]:
while True :
  escolha_usuario = int(input('escolha um numero positivo inteiro'))

  if escolha_usuario >= 1:
    print(f'Você escolheu o numero {escolha_usuario}')
  else:
    break

escolha um numero positivo inteiro400
Você escolheu o numero 400
escolha um numero positivo inteiro300
Você escolheu o numero 300
escolha um numero positivo inteiro1
Você escolheu o numero 1
escolha um numero positivo inteiro10
Você escolheu o numero 10
escolha um numero positivo inteiro8
Você escolheu o numero 8
escolha um numero positivo inteiro5
Você escolheu o numero 5
escolha um numero positivo inteiro-10

In [63]:
numeros = [8, 7, 11, 23, 13, 14, 2, 9, 4, 22, 29, 17, 16, 10, 6]

for numero in numeros:
  if numero %2 == 0:
    print(f'o numero {numero} é par')
  else:
    print(f'o numero {numero} é impar')

o numero 8 é par
o numero 7 é impar
o numero 11 é impar
o numero 23 é impar
o numero 13 é impar
o numero 14 é par
o numero 2 é par
o numero 9 é impar
o numero 4 é par
o numero 22 é par
o numero 29 é impar
o numero 17 é impar
o numero 16 é par
o numero 10 é par
o numero 6 é par