<a href="https://colab.research.google.com/github/KazumaShachou/Python_learning/blob/main/Python_Basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = input("write your name: \n") #n representa quebra de linha, new line, caractere especial, e  a barra é representa o que vem depois, caracterer especial
print(f"Seu nome é {nome}")

write your name:
NANI
Seu nome é NANI

In [ ]:
nome = input('digite seu nome: \n')
sobrenome = input('digite seu sobrenome: \n')

print(f'{nome} {sobrenome}')

digite seu nome:
Rai
digite seu sobrenome:
jr
Rai jr

In [ ]:
#metodo lower
texto1 = 'TEXTO'.lower()
texto2 = 'texto'.upper()

print(texto1)
print(texto2)

texto
TEXTO

In [ ]:
texto3 = '             RAIMUNDO            '.strip()
print(texto3)

RAIMUNDO

In [ ]:
nome = 'rai jg'
quantidade_caracteres = len(nome)
print(quantidade_caracteres)

6

In [ ]:
#primeira letra do nome maiscula
nome = 'rai'.capitalize()
print(nome)

Rai

In [ ]:
#usando input  , capitalize serve para deixar primeira letra do nome maiscula, strip para tirar espaços
nome = input('nome:\n').strip().capitalize()
sobrenome = input('sobrenome:\n').strip().capitalize()
print(f'{nome} {sobrenome}')

nome:
rai
sobrenome:
jr
Rai Jr

In [ ]:
#SOMAR ,subtrair e etc
numeroa = int(input('digite um numero'))
numerob = int(input('digite outro numero'))
resultado = numeroa+ numerob
print(f' resultado de {numeroa} + {numerob} é {resultado}')

digite um numero1
digite outro numero1
 resultado de 1 + 1 é 2

In [ ]:
#ou
numero1 = int(input('digite um numero :\n'))
numero2 = int(input('digite outro numero :\n'))
print(numero1 + numero2)

digite um numero :
1
digite outro numero :
1
2

In [ ]:
#hora e data
import datetime

print(datetime.date.today())

2020-12-08

In [ ]:
print(datetime.datetime.now())

2020-12-08 09:19:25.379844

In [ ]:
horario = datetime.time(5,31,59)

print(horario.hour)
       
print(horario)

5
05:31:59

In [ ]:
resposta = str(input('Escreva direita ou d para direita e esquerda ou e para esquerda'))
def salao():
  print('Você acabou de entrar em um salão que tem 2 portas a da direita e esquerda')
  print('Você irá escolher direita ou esquerda? digite direita ou d para porta direita e esquerda ou e para porta esquerda')
  if resposta == 'esquerda' or 'e' :
    print('você escolheu a porta da esquerda, infelizmente você não achou nada de mais nela, tente novamente!')
  elif resposta == 'direita' or 'd':
    print('você escolheu a porta da direita, parabéns!! seu prêmio o aguarda!')
  else :
    print('você não escolheu nenhuma das opções válidas, tente novamente!')

salao()

Escreva direita ou d para direita e esquerda ou e para esquerdae
Você acabou de entrar em um salão que tem 2 portas a da direita e esquerda
Você irá escolher direita ou esquerda? digite direita ou d para porta direita e esquerda ou e para porta esquerda
você escolheu a porta da esquerda, infelizmente você não achou nada de mais nela, tente novamente!

In [ ]:
#usando "in" você dará a resposta ao usuário caso ele escreva a palavra desejada, mesmo junto com 1 frase

def jogo():
  escolha_usuario = input('você pode escolher 2 classes, futurista emedieval, digite sua escolha aqui : \n').lower()
  if escolha_usuario  in 'medieval' :
    print('você escolheu medieval, então recerá uma espada')
  elif escolha_usuario in 'futurista':
    print('você escolheu a classe futurista, receberá um sabre de luz')
  else :
    print('você digitou a palavra errada, tente novamente!')
    jogo()

jogo()

In [ ]:
#usando def
def nomedapessoa():
  nome = input('digite seu primeiro nome\n : ').capitalize()
  print(f'seu nome é {nome}')

nomedapessoa()

digite seu primeiro nome
 : rai
seu nome é Rai

In [ ]:
#paramentros estão dentro do parenteses quando eu Declaro a função -  parametros são o  a, b 
def somar(a, b):
  resultado = a + b
  print(f'o valor da soma de {a} + {b} é igual a {resultado}')

#arguments estão dentro do parenteses quando eu chamo a função  - argumentos são os  112, 230 e etc
somar(112, 230)
somar(194, 999)
somar(11, 11)

o valor da soma de 112 + 230 é igual a 342
o valor da soma de 194 + 999 é igual a 1193
o valor da soma de 11 + 11 é igual a 22

In [7]:


def sub(a,b):
  resultado = a - b 
  print(resultado)

#se eu quiser usar outro numero para subtrair
sub(20, 1)

19

In [10]:
#return pega o que a função faz e retorna tudo que há fora dela
def sub (a, b):
  resultado = a - b
  return resultado

print(sub(100, 90))

print(sub(80, sub(90,60)))

10
50

In [13]:
#usando *args

def exibirnumeros(*numeros):
  print(numeros)
  print(type(numeros))

exibirnumeros(9, 11, 18, 7 , 4, 2, 1)

(9, 11, 18, 7, 4, 2, 1)
<class 'tuple'>

In [15]:
#retorna o maior valor
def maiorvalor(*numeros):
  print(numeros)
  return max(numeros)

maiorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)

(100, 19, 95, 34, 129, 111, 84, 90, 39)

129

In [1]:
#outro jeito de fazer igual
# o * de numeros significa que TODA informação recebida, era ser transformada em tupla, ele forma multiplas tuplas
#remover esse * faz com que você receba apenas 1 tupla como argumento, e passe a imformações em variaveis (maiornumero) e não diversos argumentos que são tuplas

def maiorvalor(numeros):
  print(numeros)
  return max(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
maiornumero = maiorvalor(checarvalor)   #qualquer informação dentro do "maiorvalor" irá ser transformada em tupla

print(f'o maior valor de {checarvalor} é {maiornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o maior valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 129

In [2]:
#max so recebe 1 tupla e não varias, então tem que tomar cuidado com isso.
def maiorvalor(*numeros):
  print(numeros)
  return max(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
maiornumero = maiorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)   #qualquer informação dentro do "maiorvalor" irá ser transformada em tupla

print(f'o maior valor de {checarvalor} é {maiornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o maior valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 129

In [3]:
def menorvalor(*numeros):
  print(numeros)
  return min(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
menornumero = menorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)

print(f'o menor valor de {checarvalor} é {menornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o menor valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 19

In [4]:
# ou
def menorvalor(numeros):
  print(numeros)
  return min(numeros)

checarvalor = (100, 19, 95, 34, 129, 111, 84, 90, 39)
menornumero = menorvalor(checarvalor)

print(f'o menor valor de {checarvalor} é {menornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o menor valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 19

In [5]:
#ou
def menorvalor(*numeros):
  print(numeros)
  return min(numeros)


menornumero = menorvalor(100, 19, 95, 34, 129, 111, 84, 90, 39)
print(f'o menor valor de {(100, 19, 95, 34, 129, 111, 84, 90, 39)} é {menornumero}')

(100, 19, 95, 34, 129, 111, 84, 90, 39)
o menor valor de (100, 19, 95, 34, 129, 111, 84, 90, 39) é 19

In [2]:
#abs = absolute, just positive
print(abs(-6.6))

6.6

In [7]:
#round = 6.7 to 7 for example
print(round(6.6))
print(round(9.7))


#sempre irá arredondar para o numero par mais próximo para evitar perdas, uma lei da programação em alguns programas, por isso os 2 numeros seguintes darão 8
print(round(7.5))
print(round(8.5))

7
10
8
8

Exercicio : Criar uma função valor_hotel que receba parâmetro chamado diaria e retorne o custo do hotel, i diária vale 140 reais

In [15]:
def valor_hotel(diaria):
  custo_estadia = diaria * 140
  return custo_estadia

print(f'O valor total de diarias no hotel foi de R${valor_hotel(7)} Reais')

O valor total de diarias no hotel foi de R$980 Reais

In [24]:
#alguem de carro

def aluguel_carro(dias):

  valor_total = dias *40  #preço aluguel diario
  if dias >= 7 :
    valor_total -= 50
  elif dias >=2 :
    valor_hotel -= 20
  return valor_total

dias = int(input('Digite o numero de dias'))
custo = aluguel_carro(dias)

print(f'o custo total do aluguel do carro para { dias} dias será no valor de R$ {custo}')

Digite o numero de dias22
o custo total do aluguel do carro para 22 dias será no valor de R$ 830

Listas

In [29]:
#colchetes iniciam uma lista

lista = [4, 2, 5, 6, 9, 1]

print(type(lista))

print(lista)

<class 'list'>
[4, 2, 5, 6, 9, 1]

In [31]:
primeiro_numero = lista[0]
primeiro_numero

4

In [33]:
ultimo_numero = lista[5]
ultimo_numero

1